:root {
  --color-1: #91e5f6;
  --color-5: #232225;
}

body {
  background-color: var(--color-1);
}

Zh1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 0;
}

div.form-section {
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;

  border: none;
  border-radius: 16px;
  padding: 16px;
}

div :not(:last-child) {
  margin-bottom: 20px;
  min-width: 250px;
}

label {
  text-align: left;
  display: flex;
  white-space: nowrap;
}

input {
  margin-left: 0.5rem;
  width: 100%;
}
